{% extends 'base.html' %}
{% block conteudo %}
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>EasyHost</h1>
            <form method="POST" action="/">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <button type="submit" class="btn-login">Entrar</button>
            </form>
            <div class="register-link">
                <p>Não tem uma conta? <a href="{{url_for('cadastro_route.cadastro')}}">Cadastre-se</a></p>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
</body>
{% endblock conteudo%}